.*
!.gitignore

uv.lock

**/*_data/*
!data/**/README.md


documents/purchased/*
!documents/purchased/README.md

documents/free/*
!documents/free/README.md

evals/*
!evals/README.md
!evals/read_results.ipynb

mlflow/*
